@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #ffffff;            
  display: flex;
  flex-direction: column;                 /*User-Feld*/
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  width: 1280px;
  height: 800px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 20px;
}

.false {
  background: #000000;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.ai {
  background: #cecece;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: #bebebe;
  border-bottom-color: #bebebe;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.message {
  flex: 1;

  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;
}

.ai {
  color: #000000;
}
.false {
  color: #ffffff;
}
/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  flex: 1;
  width: 100%;
  max-width: 2048px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;              /*Eingabe-Feld*/

  display: flex;
  flex-direction: row;
  gap: 10px;
}

form.hidden {
  display: none;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
